
.footer-row {
  background-color: #30455b;
  padding: 1.3rem 0;
  justify-content: center;
}
.footer-menu {
  display: flex;
  flex-basis: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.3rem;
}
.footer-link {
  flex-basis: 30%;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
}
.footer-link:hover {
  color: white;
}
.footer-link:nth-child(n+4) {
  margin: 0;
}
.footer-contact {
  display: flex;
  justify-content: space-between;
}
.info-title {
  font-family: 'Pathway Gothic One', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.footer__number {
  display: flex;
  align-items: center;
  font-size: 9px;
  font-family: Arial;
  color: white;
}
.number::before {
  display: block;
  margin-right: 0.3rem;
  width: 0.6rem;
  height: 1rem;
  content: '';
  background-image: url(../img/telf.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mail::before {
  display: block;
  margin-right: 0.3rem;
  width: 1rem;
  height: 0.8rem;
  content: '';
  background-image: url(../img/infodnt.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-row {
  margin: auto;
  max-width: 33.75rem;
}
@media screen and (min-width: 768px){
  .footer-menu {
    margin: 0;
    justify-content: space-evenly;
  }
  .footer-row {
    max-width: 45rem;
  }
  .header {
    max-width: 45rem;
  }
  .footer-contact {
    display: block;
  }
  .mail {
    margin-top: 0.3rem;
  }
}


        /*/////ICON//////*/


        .soc-icon {
          display: flex;
          margin: 0 auto;
          width: 230px;
        }
        .copyright{
          margin-top: 1.4rem;
        }
        .icon {
          width: 230px;
          display: flex;
          justify-content: space-around;
        }
        .icon-link {
          display: block;
          width: 40px;
          height: 40px;
        }
        .icon-link:hover {
          filter: contrast(50%);
        }
        .twitter {
          background: url(../img/sprite.png);
        }
        .facebook {
          background: url(../img/sprite.png) -48px;
        }
        .google {
          background: url(../img/sprite.png) -94px;
        }
        .en {
          background: url(../img/sprite.png) -140px;
        }
        .copyright-text {
          margin-top: 1.6rem;
          font-size: 13px;
          color: white;
          text-align: center;
        }
        .scroll{
          display: block;
          position: fixed;
          right: 10%;
          bottom: 5%;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #38afe5;
          }
        .scroll::after {
          display: inline-block;
          content: '';
          width: 30px;
          height: 30px;
          background-image: url(../img/arrow__to__top.png);
          background-size: 50%;
          background-position: center;
          background-repeat: no-repeat;
        }
